<h2>1.2 - Form in list-mode (content-group)</h2>
<ol>
    <li>Open form for edit-first (new) item, fill in, save</li>
    <li>Open form for add-directly (new) item, fill in, save</li>
    <li>Add dummy item using toolbar, then edit it, save</li>
    <li>edit existing item, save</li>    
</ol>
<ol>
@foreach(var cont in AsDynamic(Data["Default"])){
    <li>
        <strong class="t12-title">@cont.EntityTitle</strong>
        @Edit.Toolbar(cont, actions: "edit,new,add,remove", contentType: "@Content.EntityType")
    </li>
}
</ol>